@model string

<div class="modal-content">
    <div class="modal-container">
        <div class="row justify-content-center weaponinfo-show">
            <div class="form-floating col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p>
                    <strong>Record number:</strong> <span id="modalWeaponRecordNumber"></span>
                </p>
            </div>
        </div>

        <div class="row justify-content-center weaponinfo-show">
            <div class="form-floating col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p>
                    <strong>Weapon:</strong> <span id="modalWeaponName"></span>
                </p>
            </div>
        </div>

        <div class="row justify-content-center weaponinfo-show">
            <div class="form-floating col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p>
                    <strong>Year:</strong> <span id="modalWeaponYear"></span>
                </p>
            </div>
        </div>

        <div class="row justify-content-center weaponinfo-show">
            <div class="form-floating col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p>
                    <strong>Value:</strong> <span id="modalWeaponValue"></span>
                </p>
            </div>
        </div>

        <div class="row justify-content-center weaponinfo-show">
            <div class="form-floating col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p>
                    <strong>Location:</strong> <span id="modalWeaponLocationName"></span>
                </p>
            </div>
        </div>

        <div class="row justify-content-center weaponinfo-show">
            <div class="form-floating col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p>
                    <strong>Completeness:</strong> <span id="modalCompleteness"></span>
                </p>
            </div>
        </div>

        <div class="row justify-content-center weaponinfo-show">
            <div class="form-floating col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p>
                    <strong>Soldier:</strong> <span id="modalSoldierName"></span>
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5">
                <button type="submit" class="btn btn-success form-button">Ok</button>
            </div>
        </div>
    </div>
</div>