@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}@using WeaponAccountingProject.Data;
@using WeaponAccountingProject.ViewModels;
@model EditWeaponViewModel;
@{
}

<form method="post" asp-action="Edit">
    @* <input class="form-control" value="WeaponId" id="WeaponId"/> *@
    <input asp-for="WeaponId" type="hidden" class="form-control" placeholder="Weapon name">
    <div class="form-group">
        <label asp-for="Name">Weapon name</label>
        <input asp-for="Name" class="form-control" placeholder="Weapon name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecordNumber">Record number</label>
        <input asp-for="RecordNumber" class="form-control" placeholder="Record number">
        <span asp-validation-for="RecordNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year">Year</label>
        <input asp-for="Year" class="form-control" placeholder="Year">
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Value">Value</label>
        <input asp-for="Value" class="form-control" placeholder="Value">
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LocationId" class="control-label">Location</label>
        <select asp-for="LocationId" class="form-control" asp-items="@ViewBag.Locations">
            <option value="">-- Select Location --</option> <!-- Optional placeholder -->
        </select>
        <span asp-validation-for="LocationId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <a type="button" class="nav-link text-dark" asp-area="" asp-controller="Weapon" asp-action="Index">Back to weapons</a>

</form>
